.banner{
	background-image: url(../../images/Cover.jpeg); 
	padding: 200px 0px;
	background-size: cover;
	background-position: center;
	opacity: 1 ;
}

.banner h1{
	padding: 10px 15px;
	font-size: 80px;
	font-weight: bold;
	opacity: 1 !important;
	border-radius: 10px;
	color: white;	
}

.banner h3{
	padding: 10px;
	font-size: 30px;
	font-weight: lighter;
	font-family: arvo;
	border-radius: 10px;
	background-color: white;
	border: 5px solid black;
}

#logo{
	opacity: 1 !important;
}